black
pytest
pytest-xdist
pytest-benchmark
autoflake
isort
pipreqs
interrogate
pyflakes
autoflake
typing
rope
pylint
flake8
mypy
prospector
pylama
bandit
pre-commit
mkdocs 
mkdocstrings[python]
mkdocs-material 
mkdocs-mermaid2-plugin
hydra-core
# pymarkdownlnt There is an issue with this package on Linux
